
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}

.conatiner{
    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(1,1,1,0.3);
    border-radius: 10px;
}

.formconatiner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.formcontrol{
    display: flex;
    flex-direction: column;
}
label{
    font-size:15px ;
    margin-bottom: 5px;
}
input , select, textarea{
    padding: 6px 10px;
    border: 2px solid #ccc;
    font-size-adjust: 15px;
}
input:focus{
    outline-color: red;
}
.buttonconatiner{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color:#ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textareacontrol{
    grid-column: 1 / span 2;
}
.textareacontrol textarea{
    width: 100%;
}
